// 🍓 Strawberry Color Scheme
$link-color: #e00404;
$btn-primary-color: #e00404;
$accent-color: #e00404;
$nav-child-link-color: #e00404;
$search-result-preview-color: #e00404;

$body-heading-color: #111;
$body-text-color: #2a2a2a;
$sidebar-color: #fff6f8;
$body-background-color: #ffffff;
